body {
    min-height: 100vh;

    font-family: sans-serif, system-ui;
}

/* general element selectors here */
a {
    text-decoration: none;

    color: inherit;
}

/* selectors in order here */
.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.header.logo {
    padding: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.logo {
    font-family: 'Bitcount Single';
}

.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem 3rem;
}

.main h1 {
  margin-bottom: 0.5rem;
}

.main > div {
  padding: 1rem;
}

.main-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-photo > img {
  width: 40vw;
}

.project-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.project-card {
  min-width: 25rem;
  padding: 1rem;
}

.skill-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.skill-card {
  min-width: 15rem;
  padding: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
}

/* Add custom fonts here */
@font-face {
    font-family: 'Bitcount Single';
    src: url('./fonts/BitcountSingle-Regular.woff2') format('woff2'),
        url('./fonts/BitcountSingle-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Modified css reset by Josh Comeau
Link: https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Modern css boilerplate by Daniel Schwarz
Link: https://blog.logrocket.com/what-should-modern-css-boilerplate-look-like/ */
* {
  border: none;
}
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}
menu,
ol,
ul {
    padding-left: 0;
}
article ol,
article ul {
    list-style-position: inside;
}
html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}
:focus:not(:focus-visible) {
  outline: none;
}
label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}
